<div class="container">
  <div class="content">
    <aside class="aside">
      <div class="cart visible-mobile">
        <div class="cart__user">
          <a href="#" class="link-user">log in</a>
          <a href="#" class="link-user">wishlist(0)</a>
        </div>
        <div class="cart__body">
          <div class="cart__items">
            <img src="../../../img/icons/icon-cart.png" alt="#" class="cart__items-icon">
            <div class="cart__items-price">
              <div>$1,459.50</div>
              <span class="cart__items-count">2 items</span>
            </div>
          </div>
          <div class="cart__edit">
            <button class="btn-remove"></button>
            <button class="btn-edit">Edit</button>
          </div>
        </div>
        <div class="cart__actions">
          <a href="#" class="link-action">view cart</a>
          <a href="#" class="link-action">checkout</a>
        </div>
        <form action="" class="form form--search">
          <div class="input-wrap">
            <div class="input">
              <input type="email" placeholder="Insert Email">
              <button type="reset">
                <img src="../../../img/icons/x.png" alt="">
              </button>
            </div>
            <button type="submit">
              <img src="../../../img/icons/search-Icon.svg" alt="">
            </button>
          </div>
        </form>
      </div>
      <nav class="nav">
        <div class="nav__title">Menu</div>
        <a href="#" class="link-nav">About</a>
        <a href="#" class="link-nav">apparel</a>
        <a href="#" class="link-nav">surf apparel</a>
        <a href="#" class="link-nav">windsurf</a>
        <a href="#" class="link-nav">kitesurf</a>
        <a href="#" class="link-nav">accessories</a>
        <a href="#" class="link-nav">sale</a>
      </nav>

      <div class="widget">
        <div class="widget__title">Tags Widget</div>
        <div class="widget__content">
          <div class="tags">
            <a href="#" class="tag top">Kitesurf</a>
            <a href="#" class="tag">Super</a>
            <a href="#" class="tag">Duper</a>
            <a href="#" class="tag">Theme</a>
            <a href="#" class="tag">Men</a>
            <a href="#" class="tag">Women</a>
            <a href="#" class="tag">Equipment</a>
          </div>
        </div>
        <a href="#" class="widget__link">view all</a>
      </div>

    </aside>
    <main class="main">
      <section class="products">
        <div class="products__slider swiper-container">
          <div class="products__title">New products</div>
          <div class="swiper-wrapper">
            <div class="swiper-slide products--item">
              <div class="product-tile">
                <div class="product-tile__wrap">
                  <div class="product-tile__label hot">
                    <span>hot</span>
                  </div>
                  <div class="product-tile__img">
                    <img src="https://via.placeholder.com/250/eaeaea" alt="">
                  </div>
                  <div class="product-tile__content">
                    <div class="product-tile__title">Single Thruster 2014</div>
                    <div class="product-tile__price">
                      <span class="price">€.1,580.70</span>
                      <span class="old-price">€.1,270.15</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide products--item ">
              <div class="product-tile">
                <div class="product-tile__wrap">
                  <div class="product-tile__label new">
                    <span>new</span>
                  </div>
                  <div class="product-tile__img">
                    <img src="https://via.placeholder.com/250/eaeaea" alt="">
                  </div>
                  <div class="product-tile__content">
                    <div class="product-tile__title">Single Thruster 2014</div>
                    <div class="product-tile__price">
                      <span class="price">€.1,580.70</span>
                      <span class="old-price">€.1,270.15</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide products--item ">
              <div class="product-tile">
                <div class="product-tile__wrap">
                  <div class="product-tile__img">
                    <img src="https://via.placeholder.com/250/eaeaea" alt="">
                  </div>
                  <div class="product-tile__content">
                    <div class="product-tile__title">Single Thruster 2014</div>
                    <div class="product-tile__price">
                      <span class="price">€.1,580.70</span>
                      <span class="old-price">€.1,270.15</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide products--item ">
              <div class="product-tile">
                <div class="product-tile__wrap">
                  <div class="product-tile__label hot">
                    <span>hot</span>
                  </div>
                  <div class="product-tile__img">
                    <img src="https://via.placeholder.com/250/eaeaea" alt="">
                  </div>
                  <div class="product-tile__content">
                    <div class="product-tile__title">Single Thruster 2014</div>
                    <div class="product-tile__price">
                      <span class="price">€.1,580.70</span>
                      <span class="old-price">€.1,270.15</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide products--item ">
              <div class="product-tile">
                <div class="product-tile__wrap">
                  <div class="product-tile__label hot">
                    <span>hot</span>
                  </div>
                  <div class="product-tile__img">
                    <img src="https://via.placeholder.com/250/eaeaea" alt="">
                  </div>
                  <div class="product-tile__content">
                    <div class="product-tile__title">Single Thruster 2014</div>
                    <div class="product-tile__price">
                      <span class="price">€.1,580.70</span>
                      <span class="old-price">€.1,270.15</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="products__nav">
            <div class="products-nav-prev"></div>
            <div class="products-nav-next"></div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
