<section class="hero">
  <div class="container">
    <div class="hero__cart">
      <div class="cart">
        <div class="cart__user">
          <a href="#" class="link-user">log in</a>
          <a href="#" class="link-user">wishlist(0)</a>
        </div>
        <div class="cart__body">
          <div class="cart__items">
            <img src="../../../img/icons/icon-cart.png" alt="#" class="cart__items-icon">
            <div class="cart__items-price">
              <div>$1,459.50</div>
              <span class="cart__items-count">2 items</span>
            </div>
          </div>
          <div class="cart__edit">
            <button class="btn-remove"></button>
            <button class="btn-edit">Edit</button>
          </div>
        </div>
        <div class="cart__actions">
          <a href="#" class="link-action">view cart</a>
          <a href="#" class="link-action">checkout</a>
        </div>
        <form action="" class="form form--search">
          <div class="input-wrap">
            <div class="input">
              <input type="email" placeholder="Insert Email">
              <button type="reset">
                <img src="../../../img/icons/x.png" alt="">
              </button>
            </div>
            <button type="submit">
              <img src="../../../img/icons/search-Icon.svg" alt="">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="hero__slider swiper-container">
    <div class="hero-slider swiper-wrapper">
      <div class="hero-slider__item swiper-slide">
        <div class="hero-slider__item-img">
          <img src="https://via.placeholder.com/1024x640/abeafa" alt="hero">
        </div>
        <div class="hero-slider__item-content container">
          <div class="hero-card">
            <div class="hero-card__title">JP Funride 2014</div>
            <div class="hero-card__content">
              Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.
            </div>
            <div class="hero-card__button">
              <button class="btn-main">Buy now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-slider__item swiper-slide">
        <div class="hero-slider__item-img">
          <img src="https://via.placeholder.com/1024x640/abeafa" alt="hero">
        </div>
        <div class="hero-slider__item-content container">
          <div class="hero-card">
            <div class="hero-card__title">JP Funride 2014</div>
            <div class="hero-card__content">
              Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.
            </div>
            <div class="hero-card__button">
              <button class="btn-main">Buy now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-slider__item swiper-slide">
        <div class="hero-slider__item-img">
          <img src="https://via.placeholder.com/1024x640/abeafa" alt="hero">
        </div>
        <div class="hero-slider__item-content container">
          <div class="hero-card">
            <div class="hero-card__title">JP Funride 2014</div>
            <div class="hero-card__content">
              Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.
            </div>
            <div class="hero-card__button">
              <button class="btn-main">Buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__nav">
      <div class="hero-nav-prev"></div>
      <div class="hero-nav-next"></div>
    </div>
    <div class="hero__pager swiper-pagination"></div>
  </div>
</section>
