<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__menu footer__category">
        <div class="footer-title">Category</div>
        <ul class="footer-menu">
          <li class="item">
            <a href="#" class="link">Home</a>
          </li>
          <li class="item">
            <a href="#" class="link">about us</a>
          </li>
          <li class="item">
            <a href="#" class="link">eshop</a>
          </li>
          <li class="item">
            <a href="#" class="link">Features</a>
          </li>
          <li class="item">
            <a href="#" class="link">new collections</a>
          </li>
          <li class="item">
            <a href="#" class="link">blog</a>
          </li>
          <li class="item">
            <a href="#" class="link">contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu footer__account">
        <div class="footer-title">Category</div>
        <ul class="footer-menu">
          <li class="item">
            <a href="#" class="link">Our Account</a>
          </li>
          <li class="item">
            <a href="#" class="link">Your Account</a>
          </li>
          <li class="item">
            <a href="#" class="link">Personal information</a>
          </li>
          <li class="item">
            <a href="#" class="link">Addresses</a>
          </li>
          <li class="item">
            <a href="#" class="link">Discount</a>
          </li>
          <li class="item">
            <a href="#" class="link">Orders history</a>
          </li>
          <li class="item">
            <a href="#" class="link">Addresses</a>
          </li>
          <li class="item">
            <a href="#" class="link">Search Terms</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu footer__support">
        <div class="footer-title">Our Support</div>
        <ul class="footer-menu">
          <li class="item">
            <a href="#" class="link">Site Map</a>
          </li>
          <li class="item">
            <a href="#" class="link">Search Terms</a>
          </li>
          <li class="item">
            <a href="#" class="link">Advanced Search</a>
          </li>
          <li class="item">
            <a href="#" class="link">Mobile</a>
          </li>
          <li class="item">
            <a href="#" class="link">Contact Us</a>
          </li>
          <li class="item">
            <a href="#" class="link">Mobile</a>
          </li>
          <li class="item">
            <a href="#" class="link">Addresses</a>
          </li>
        </ul>
      </div>
      <div class="footer__info footer__newsletter">
        <div class="footer-title">NewsLetter</div>
        <p class="footer-text">Join thousands of other people subscribe to our news</p>
        <form action="" class="form form--subscribe">
          <div class="input-wrap">
            <input type="email" placeholder="Insert Email">
            <button type="submit">Submit</button>
          </div>
        </form>
        <ul class="payments">
          <li><img src="../../../img/icons/aex.png" alt="aex"></li>
          <li><img src="../../../img/icons/mastercard.png" alt="mastercard"></li>
          <li><img src="../../../img/icons/maestero.png" alt="maestero"></li>
          <li><img src="../../../img/icons/paypal.png" alt="paypal"></li>
          <li><img src="../../../img/icons/discover.png" alt="discover"></li>
          <li><img src="../../../img/icons/visa_straight.png" alt="visa_straight"></li>
        </ul>
      </div>
      <div class="footer__info footer__about">
        <div class="footer-title">About us</div>
        <p class="footer-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
        <div class="contacts">
          <span class="title">Phone:</span>
          <a class="phone" href="tel:19993429876">1-999-342-9876</a>
          <span class="title">email:</span>
          <a class="email" href="mailto:info@surfhouse.com">info@surfhouse.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-wrap container">
      <div class="copy">
        &copy; 2014  All rights reserved
      </div>
      <div class="socials">
        <a href="#" class="social">
          <img src="../../../img/icons/facebook-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/twitter-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/youtube-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/pinterest-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/insta-icon.png" alt="">
        </a>
        <!--        <a href="#" class="social">-->
        <!--          -->
        <!--        </a>-->
      </div>
    </div>
  </div>
</footer>
