<header class="header">
  <div class="header__wrap container">
    <a href="#" class="header__logo">
      <img src="../../../img/icons/surfhouse-logo.png" alt="logo">
    </a>
    <div class="header__content">
      <div class="socials">
        <a href="#" class="social">
          <img src="../../../img/icons/facebook-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/twitter-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/youtube-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/pinterest-icon.png" alt="">
        </a>
        <a href="#" class="social">
          <img src="../../../img/icons/insta-icon.png" alt="">
        </a>
      </div>
      <div class="lang-switch">
        <div class="lang-switch__parent">
          <a href="#" class="lang-switch__link">EN</a>
          <ul class="lang-switch__submenu">
            <li class="lang-switch__item">
              <a href="#" class="lang-switch__link">UK</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
