<div class="product-tile">
  <div class="product-tile__wrap">
    <div class="product-tile__label hot">
      <span>hot</span>
    </div>
    <div class="product-tile__img">
      <img src="https://via.placeholder.com/250/eaeaea" alt="">
    </div>
    <div class="product-tile__content">
      <div class="product-tile__title">Single Thruster 2014</div>
      <div class="product-tile__price">
        <span class="price">€.1,580.70</span>
        <span class="old-price">€.1,270.15</span>
      </div>
    </div>
  </div>
</div>
