.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0 8px 8px 0;
  padding: 12px 12px 6px;
  font-size: 12px;
  line-height: 1;
  color: $c-grey;
  background: $c-silver;
  transition: $transition;

  &.top {
    font-size: 14px;
    padding: 10px 28px 8px;
    color: $c-black;
  }

  &:hover {
    background: $yellow;
  }
}
